@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

html {
    background-color:rgb(67, 70, 70);
    color: white;
}
#guest-score, #home-score, #period-display {
    font-family: 'Cursed Timer ULiL', sans-serif;
}
/* * {
    outline: 1px solid red;
} */
